<li>
  {{question-popularity question}}
  {{#link-to 'question' question.id}}
  {{question.title}} by {{question.author}}
  {{/link-to}}|
  <button {{action 'addQuestionToFavorites' question}}>Add to Favorite Questions</button>
</li>
