<h1>Welcome users!</h1>

<h3>Please post a question below</h3>


<ul>
  {{#each model as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question save="save"}}
